{% extends 'base.html'%}
{% import 'news_macros.html' as macro %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="allsources">
    <div class="overlay container-fluid">    
        <h2 class="text-center headers">Technology Articles</h2>
        {{macro.display_new_articles(tech)}}

        <h2 class="text-center headers">Health News Articles</h2>
        {{macro.display_new_articles(health)}}
    </div>
</div>
{% endblock %}