{% macro display_new_sources(sources_outcome) %}
    <div class="container-fluid">
        <div class="card-columns">
            {% for news in sources_outcome %}
            <div class="card sourcecard">
                <div class="card-header" id="sourcename" >
                    <h4><a href="/articles/{{news.id}}" style="text-decoration: none; color: darkcyan;">{{news.name}}</a></h4>
                </div>
                <div class="card-body">
                    <p class="desc">
                        {{news.description}}
                    </p>
                    <a href="/articles/{{news.id}}"><button class="btn btn-sm btn-outline-info">Articles</button> </a>
                    <a href="{{news.url}}"><button class="btn btn-sm btn-info" id="visit">Go to {{news.name}}</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro display_Source_articles(source_articles) %}
<div class="container" id="articles">
    <div class="row" >
        {% for art in source_articles %}
            <div class="col-sm-4">
            <img src="{{art.urlToImage}}" alt="{{art.title}}" class="card-img-top img-responsive">
                <div class="card info">
                    <div class="card-header title"><h4>{{art.title | truncate(58)}}</h4> </div>
                    <div class="card-body">
                        <p class="desc">{{art.description}}</p>
                        <p><a href="{{art.url}}">Read More....</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endmacro %}